@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
        @await Component.InvokeAsync("_HeadUILayoutComponentPartial")


<body>
    @await Component.InvokeAsync("_NavBarUILayoutComponentPartial")

    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterCoverUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptCoverUILayoutComponentPartial")

</body>
</html>
