@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> Blog Kategori Alanı</h4>
                            <p class="card-subtitle mb-4">
                                 Blog Kategori İşlemleri alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tutarlı veri girişi yapmaya
                                özen gösteriniz. Aksi halde tema bütünlüğü bozulacaktır
                            </p>
                            <div class="table-responsive">

                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Blog Kategorileri</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Any())
                                        {
                                            @foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    <td>@count</td>
                                                    <td> @item.Name</td>                          
                                                    <td><a href="/Admin/AdminCategory/RemoveCategory/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
                                                    <td><a href="/Admin/AdminCategory/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Güncelle</a></td>
                                                    
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4" class="text-center text-muted">Lütfen Bir Blog Girin.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <a href="/Admin/AdminCategory/CreateCategory/" class="btn btn-outline-primary">Yeni Blog Girişi</a>

                            </div>

                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->
            </div>
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
</div>
