@model UpdateServiceDto
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card-body">
                        <h4 class="card-title">Hizmet Bilgisi Güncelleme</h4>
                        <p class="card-subtitle mb-4">
                            Hizmet Bilgisi alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tasarımda bozulma olmaması adına
                            adına tutarlı veri girişi yapmaya özen gösteriniz .Aksi halde tema bütünlüğü bozulacaktır
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="ServiceID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Hizmet Bilgisi</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Hizmet Bilgisi Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIconUrl">İcon</label>
                                <input type="text" class="form-control" id="exampleInputIconUrl" asp-for="IconUrl" placeholder="İcon Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Hizmet Bilgisi Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
