@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Referanslar Alanı</h4>
                            <p class="card-subtitle mb-4">
                                Referanslar alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tutarlı veri girişi yapmaya
                                özen gösteriniz. Aksi halde tema bütünlüğü bozulacaktır
                            </p>
                            <div class="table-responsive">

                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>İsim</th>
                                            <th>Unvan</th>
                                            <th>Yorum</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Any())
                                        {
                                            @foreach (var item in Model)
                                            {
                                               
                                                <tr>
                                                    <td><img src="@item.ImageUrl" width="50" height="50"/></td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.Comment</td>
                                                    <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Sil</a></td>
                                                    <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Güncelle</a></td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4" class="text-center text-muted">Lütfen Referans Girin.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <a href="/Admin/AdminTestimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Referans Girişi</a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
